<!DOCTYPE html>
<html lang="en">
<head>

  <%- partial('partial/head') %>

</head>
<body>
  
  <div class="wrap">
    <div class="left">

      <%- partial('partial/article', {article: article}) %>

    </div>

    <div class="right">
      <div class="right_content">
        <div class="right_content_inner">
          <%- partial('partial/filter') %>
        </div>
      </div>
      <ul class="menu">
        <li class="active">
          <i class="fa fa-sliders"></i>
          <span>筛选列表</span>
        </li>
        <li>
          <i class="fa fa-comments"></i>
          <span>文章评论</span>
        </li>
        <li>
          <i class="fa fa-folder"></i>
          <span>分类标签</span>
        </li>
        <li>
          <i class="fa fa-user"></i>
          <span>个人中心</span>
        </li>
      </ul>
    </div>
  </div>

  <%- partial('partial/foot') %>
</body>
</html>