<div style="display:none" :style="article.state === 1 ? 'display: block' : 'display: none'" v-if="article.state === 1">
  <header>
    <div class="article-header">
      <h1 class="article-title">
        <span class="nature" :class="article.detail.type">{{ article.detail.type | nature }}</span>
        <a href="javascript:;" class="text">{{ article.detail.title }}</a>
      </h1>
      <div class="thmub-collection">
        <span class="btn thumb"><i class="fa fa-thumbs-o-up"></i> 点赞</span>
        <span class="btn red star"><i class="fa fa-star-o"></i> 收藏</span>
      </div>
    </div>

    <ul class="article-info">
      <li><i class="fa fa-user-o"></i><span>作者：</span><a>{{ article.detail.nickname }}</a></li>
      <li><i class="fa fa-eye"></i><span>阅读：</span><a href="javascript:;" class="text">{{ article.detail.read }}</a></li>
      <!--<li><i class="fa fa-comments-o"></i><span>评论：</span><a href="javascript:;" class="text">20</a></li>-->
      <!--<li><i class="fa fa-star-o"></i><span>收藏：</span><a href="javascript:;" class="text">20</a></li>-->
      <!--<li><i class="fa fa-thumbs-o-up"></i><span>点赞：</span><a href="javascript:;" class="text">20</a></li>-->
      <li><i class="fa fa-folder"></i><span>分类：</span><a href="javascript:;">{{ article.detail.category }}</a></li>
      <li><i class="fa fa-calendar"></i><span>发布日期：</span><a href="javascript:;" class="text">{{ article.detail.create_time | nry }}</a></li>
      <li v-if="article.detail.type !== 'original'"><i class="fa fa-link"></i><a :href="article.detail.link" target="_blank">原文链接</a></li>
      <!--管理员和作者自己可以删除/编辑-->
      <li v-if="userinfo && (userinfo.role === 'admin' || userinfo.id === article.detail.userid)" style="color: #6795de"><i class="fa fa-edit"></i><a href="javascript:;">编辑</a></li>
      <li v-if="userinfo && (userinfo.role === 'admin' || userinfo.id === article.detail.userid)" style="color: #b1361e"><i class="fa fa-trash"></i><a href="javascript:;">删除</a></li>
    </ul>
  </header>


  <article class="article-context" v-html="$options.filters.markdown(article.detail.context)"></article>
</div>
<template v-else-if="article.state === 0">
  <%- partial('partial/loading') %>
</template>