<header>
  <div class="article-header">
    <h1 class="article-title">
      <span class="nature">原创</span>
      <span>【</span><a href="#">新闻</a><span>】</span>
      <a href="javascript:;" class="text">天猫首页在不同移动端（web, app）已经做到只需写同一套代码了吗？</a>
    </h1>
    <div class="thmub-collection">
      <span class="btn thumb"><i class="fa fa-thumbs-o-up"></i> 点赞</span>
      <span class="btn red star"><i class="fa fa-star-o"></i> 收藏</span>
    </div>
  </div>

  <ul class="article-info">
    <li><i class="fa fa-user-o"></i><span>作者：</span><a href="#">Sonamu</a></li>
    <li><i class="fa fa-eye"></i><span>阅读：</span><a href="javascript:;" class="text">20</a></li>
    <li><i class="fa fa-comments-o"></i><span>评论：</span><a href="javascript:;" class="text">20</a></li>
    <li><i class="fa fa-star-o"></i><span>收藏：</span><a href="javascript:;" class="text">20</a></li>
    <li><i class="fa fa-thumbs-o-up"></i><span>点赞：</span><a href="javascript:;" class="text">20</a></li>
    <li><i class="fa fa-folder"></i><span>分类：</span><a href="javascript:;">啥地方</a></li>
    <li><i class="fa fa-calendar"></i><span>发布日期：</span><a href="javascript:;" class="text">2017-20-50</a></li>
    <li><i class="fa fa-link"></i><a href="http://baidu.com" target="_blank">原文链接</a></li>
    <li style="color: #6795de"><i class="fa fa-edit"></i><a href="javascript:;">编辑</a></li>
    <li style="color: #b1361e"><i class="fa fa-trash"></i><a href="javascript:;">删除</a></li>
  </ul>
</header>


<article>
  <%- article %>
</article>