<header class="article">

  <div class="title">
    <!-- 原创: original 翻译: translate 转载: reprint 节选: excerpt -->
    <div class="nature original"><span onselectstart="return false;">原创</span></div>
    <h1>天猫首页在不同移动端（web, app）已经做到只需写同一套代码了吗？</h1>
    <div class="thumbs"><i class="fa fa-thumbs-o-up"></i> 点赞</div>
    <div class="star"><i class="fa fa-star-o"></i> 收藏</div>
  </div>

  <div class="article_info">
    <span title="作者"><i class="fa fa-user-o"></i><b>Sonamu</b></span>
    <span title="阅读"><i class="fa fa-eye"></i><b>20</b></span>
    <span title="收藏"><i class="fa fa-star-o"></i><b>20</b></span>
    <span title="点赞"><i class="fa fa-thumbs-o-up"></i><b>20</b></span>
    <span title="评论"><i class="fa fa-comments-o"></i><b>20</b></span>
    <span title="发布时间"><i class="fa fa-calendar"></i><b>2017-08-11</b></span>
    <span title="分类"><i class="fa fa-book"></i><b><a href="#">阿斯蒂芬</a></b></span>
    <span title="标签"><i class="fa fa-tags"></i><b><a href="#">阿斯蒂芬</a>, <a href="#">阿斯蒂芬</a>, <a href="#">阿斯蒂芬</a></b></span>
    <span><i class="fa fa-link"></i><b><a href="#">原文链接</a></b></span>
    <span title="编辑" style="color: #6795de"><i class="fa fa-edit"></i><b><a href="#">编辑</a></b></span>
    <span title="删除" style="color: #b1361e"><i class="fa fa-trash"></i><b><a href="#">删除</a></b></span>
  </div>

</header>


<article><%- article %></article>

<footer>

  <p class="copy">@2017</p>
</footer>