<div class="filter">

  <div class="input-box">
    <input type="text" placeholder="搜索文章" autocomplete="off" autofocus="autofocus">
    <i class="fa fa-search"></i>
  </div>

  <div class="bottom-line"></div>

  <span class="search-label">排序方式&nbsp;&nbsp;&nbsp;&nbsp;<span>重复点击可改变升/降序</span></span>

  <ul class="search-sort" onselectstart="return false;">
    <li class="active desc"><i class="fa fa-sort-alpha-asc"></i> 发表时间 <i class="fa fa-sort-alpha-desc"></i></li>
    <li><i class="fa fa-sort-alpha-asc"></i> 阅读量 <i class="fa fa-sort-alpha-desc"></i></li>
    <li><i class="fa fa-sort-alpha-asc"></i> 评论数 <i class="fa fa-sort-alpha-desc"></i></li>
    <li><i class="fa fa-sort-alpha-asc"></i> 点赞数 <i class="fa fa-sort-alpha-desc"></i></li>
    <li><i class="fa fa-sort-alpha-asc"></i> 收藏量 <i class="fa fa-sort-alpha-desc"></i></li>
  </ul>

  <div class="bottom-line"></div>

  <span class="search-label">已选标签分类&nbsp;&nbsp;&nbsp;&nbsp;<span>点击标签/分类可取消选择</span></span>

  <ul class="search-select" onselectstart="return false;">
    <li><i class="fa fa-book"></i> 是范德萨</li>
    <li><i class="fa fa-tags"></i> 是范德萨</li>
  </ul>

  <div class="bottom-line"></div>

  <ul class="article-lists">
    <li>
      <div class="article-lists-header">
        <!-- 原创: original 翻译: translate 转载: reprint 节选: excerpt -->
        <div class="nature small original"><span onselectstart="return false;">原创</span></div>
        <h2><a href="#">天猫首页在不同移动端（web, app）已经做到只需写同一套代码了吗？</a></h2>
      </div>
      <div class="article_info">
        <span title="作者"><i class="fa fa-user-o"></i><b>Sonamu</b></span>
        <span title="阅读"><i class="fa fa-eye"></i><b>20</b></span>
        <span title="收藏"><i class="fa fa-star-o"></i><b>20</b></span>
        <span title="点赞"><i class="fa fa-thumbs-o-up"></i><b>20</b></span>
        <span title="评论"><i class="fa fa-comments-o"></i><b>20</b></span>
        <span title="发布时间"><i class="fa fa-calendar"></i><b>2017-08-11</b></span>
      </div>
    </li>
    <li>
      <div class="article-lists-header">
        <div class="nature small translate"><span onselectstart="return false;">翻译</span></div>
        <h2><a href="#">天猫首页在不同移动端（web, app）已经做到只需写同一套代码了吗？</a></h2>
      </div>
      <div class="article_info">
        <span title="作者"><i class="fa fa-user-o"></i><b>Sonamu</b></span>
        <span title="阅读"><i class="fa fa-eye"></i><b>20</b></span>
        <span title="收藏"><i class="fa fa-star-o"></i><b>20</b></span>
        <span title="点赞"><i class="fa fa-thumbs-o-up"></i><b>20</b></span>
        <span title="评论"><i class="fa fa-comments-o"></i><b>20</b></span>
        <span title="发布时间"><i class="fa fa-calendar"></i><b>2017-08-11</b></span>
      </div>
    </li>
    <li>
      <div class="article-lists-header">
        <div class="nature small reprint"><span onselectstart="return false;">转载</span></div>
        <h2><a href="#">天猫首页在不同移动端（web, app）已经做到只需写同一套代码了吗？</a></h2>
      </div>
      <div class="article_info">
        <span title="作者"><i class="fa fa-user-o"></i><b>Sonamu</b></span>
        <span title="阅读"><i class="fa fa-eye"></i><b>20</b></span>
        <span title="收藏"><i class="fa fa-star-o"></i><b>20</b></span>
        <span title="点赞"><i class="fa fa-thumbs-o-up"></i><b>20</b></span>
        <span title="评论"><i class="fa fa-comments-o"></i><b>20</b></span>
        <span title="发布时间"><i class="fa fa-calendar"></i><b>2017-08-11</b></span>
      </div>
    </li>
    <li>
      <div class="article-lists-header">
        <div class="nature small excerpt"><span onselectstart="return false;">节选</span></div>
        <h2><a href="#">天猫首页在不同移动端（web, app）已经做到只需写同一套代码了吗？</a></h2>
      </div>
      <div class="article_info">
        <span title="作者"><i class="fa fa-user-o"></i><b>Sonamu</b></span>
        <span title="阅读"><i class="fa fa-eye"></i><b>20</b></span>
        <span title="收藏"><i class="fa fa-star-o"></i><b>20</b></span>
        <span title="点赞"><i class="fa fa-thumbs-o-up"></i><b>20</b></span>
        <span title="评论"><i class="fa fa-comments-o"></i><b>20</b></span>
        <span title="发布时间"><i class="fa fa-calendar"></i><b>2017-08-11</b></span>
      </div>
    </li>
    <li>
      <div class="article-lists-header">
        <!-- 原创: original 翻译: translate 转载: reprint 节选: excerpt -->
        <div class="nature small original"><span onselectstart="return false;">原创</span></div>
        <h2><a href="#">天猫首页在不同移动端（web, app）已经做到只需写同一套代码了吗？</a></h2>
      </div>
      <div class="article_info">
        <span title="作者"><i class="fa fa-user-o"></i><b>Sonamu</b></span>
        <span title="阅读"><i class="fa fa-eye"></i><b>20</b></span>
        <span title="收藏"><i class="fa fa-star-o"></i><b>20</b></span>
        <span title="点赞"><i class="fa fa-thumbs-o-up"></i><b>20</b></span>
        <span title="评论"><i class="fa fa-comments-o"></i><b>20</b></span>
        <span title="发布时间"><i class="fa fa-calendar"></i><b>2017-08-11</b></span>
      </div>
    </li>
    <li>
      <div class="article-lists-header">
        <!-- 原创: original 翻译: translate 转载: reprint 节选: excerpt -->
        <div class="nature small original"><span onselectstart="return false;">原创</span></div>
        <h2><a href="#">天猫首页在不同移动端（web, app）已经做到只需写同一套代码了吗？</a></h2>
      </div>
      <div class="article_info">
        <span title="作者"><i class="fa fa-user-o"></i><b>Sonamu</b></span>
        <span title="阅读"><i class="fa fa-eye"></i><b>20</b></span>
        <span title="收藏"><i class="fa fa-star-o"></i><b>20</b></span>
        <span title="点赞"><i class="fa fa-thumbs-o-up"></i><b>20</b></span>
        <span title="评论"><i class="fa fa-comments-o"></i><b>20</b></span>
        <span title="发布时间"><i class="fa fa-calendar"></i><b>2017-08-11</b></span>
      </div>
    </li>
    <li>
      <div class="article-lists-header">
        <!-- 原创: original 翻译: translate 转载: reprint 节选: excerpt -->
        <div class="nature small original"><span onselectstart="return false;">原创</span></div>
        <h2><a href="#">天猫首页在不同移动端（web, app）已经做到只需写同一套代码了吗？</a></h2>
      </div>
      <div class="article_info">
        <span title="作者"><i class="fa fa-user-o"></i><b>Sonamu</b></span>
        <span title="阅读"><i class="fa fa-eye"></i><b>20</b></span>
        <span title="收藏"><i class="fa fa-star-o"></i><b>20</b></span>
        <span title="点赞"><i class="fa fa-thumbs-o-up"></i><b>20</b></span>
        <span title="评论"><i class="fa fa-comments-o"></i><b>20</b></span>
        <span title="发布时间"><i class="fa fa-calendar"></i><b>2017-08-11</b></span>
      </div>
    </li>
    <li>
      <div class="article-lists-header">
        <!-- 原创: original 翻译: translate 转载: reprint 节选: excerpt -->
        <div class="nature small original"><span onselectstart="return false;">原创</span></div>
        <h2><a href="#">天猫首页在不同移动端（web, app）已经做到只需写同一套代码了吗？</a></h2>
      </div>
      <div class="article_info">
        <span title="作者"><i class="fa fa-user-o"></i><b>Sonamu</b></span>
        <span title="阅读"><i class="fa fa-eye"></i><b>20</b></span>
        <span title="收藏"><i class="fa fa-star-o"></i><b>20</b></span>
        <span title="点赞"><i class="fa fa-thumbs-o-up"></i><b>20</b></span>
        <span title="评论"><i class="fa fa-comments-o"></i><b>20</b></span>
        <span title="发布时间"><i class="fa fa-calendar"></i><b>2017-08-11</b></span>
      </div>
    </li>
    <li>
      <div class="article-lists-header">
        <!-- 原创: original 翻译: translate 转载: reprint 节选: excerpt -->
        <div class="nature small original"><span onselectstart="return false;">原创</span></div>
        <h2><a href="#">天猫首页在不同移动端（web, app）已经做到只需写同一套代码了吗？</a></h2>
      </div>
      <div class="article_info">
        <span title="作者"><i class="fa fa-user-o"></i><b>Sonamu</b></span>
        <span title="阅读"><i class="fa fa-eye"></i><b>20</b></span>
        <span title="收藏"><i class="fa fa-star-o"></i><b>20</b></span>
        <span title="点赞"><i class="fa fa-thumbs-o-up"></i><b>20</b></span>
        <span title="评论"><i class="fa fa-comments-o"></i><b>20</b></span>
        <span title="发布时间"><i class="fa fa-calendar"></i><b>2017-08-11</b></span>
      </div>
    </li>
    <li>
      <div class="article-lists-header">
        <!-- 原创: original 翻译: translate 转载: reprint 节选: excerpt -->
        <div class="nature small original"><span onselectstart="return false;">原创</span></div>
        <h2><a href="#">天猫首页在不同移动端（web, app）已经做到只需写同一套代码了吗？</a></h2>
      </div>
      <div class="article_info">
        <span title="作者"><i class="fa fa-user-o"></i><b>Sonamu</b></span>
        <span title="阅读"><i class="fa fa-eye"></i><b>20</b></span>
        <span title="收藏"><i class="fa fa-star-o"></i><b>20</b></span>
        <span title="点赞"><i class="fa fa-thumbs-o-up"></i><b>20</b></span>
        <span title="评论"><i class="fa fa-comments-o"></i><b>20</b></span>
        <span title="发布时间"><i class="fa fa-calendar"></i><b>2017-08-11</b></span>
      </div>
    </li>
    <li>
      <div class="article-lists-header">
        <!-- 原创: original 翻译: translate 转载: reprint 节选: excerpt -->
        <div class="nature small original"><span onselectstart="return false;">原创</span></div>
        <h2><a href="#">天猫首页在不同移动端（web, app）已经做到只需写同一套代码了吗？</a></h2>
      </div>
      <div class="article_info">
        <span title="作者"><i class="fa fa-user-o"></i><b>Sonamu</b></span>
        <span title="阅读"><i class="fa fa-eye"></i><b>20</b></span>
        <span title="收藏"><i class="fa fa-star-o"></i><b>20</b></span>
        <span title="点赞"><i class="fa fa-thumbs-o-up"></i><b>20</b></span>
        <span title="评论"><i class="fa fa-comments-o"></i><b>20</b></span>
        <span title="发布时间"><i class="fa fa-calendar"></i><b>2017-08-11</b></span>
      </div>
    </li>
    <li>
      <div class="article-lists-header">
        <!-- 原创: original 翻译: translate 转载: reprint 节选: excerpt -->
        <div class="nature small original"><span onselectstart="return false;">原创</span></div>
        <h2><a href="#">天猫首页在不同移动端（web, app）已经做到只需写同一套代码了吗？</a></h2>
      </div>
      <div class="article_info">
        <span title="作者"><i class="fa fa-user-o"></i><b>Sonamu</b></span>
        <span title="阅读"><i class="fa fa-eye"></i><b>20</b></span>
        <span title="收藏"><i class="fa fa-star-o"></i><b>20</b></span>
        <span title="点赞"><i class="fa fa-thumbs-o-up"></i><b>20</b></span>
        <span title="评论"><i class="fa fa-comments-o"></i><b>20</b></span>
        <span title="发布时间"><i class="fa fa-calendar"></i><b>2017-08-11</b></span>
      </div>
    </li>
    <li>
      <div class="article-lists-header">
        <!-- 原创: original 翻译: translate 转载: reprint 节选: excerpt -->
        <div class="nature small original"><span onselectstart="return false;">原创</span></div>
        <h2><a href="#">天猫首页在不同移动端（web, app）已经做到只需写同一套代码了吗？</a></h2>
      </div>
      <div class="article_info">
        <span title="作者"><i class="fa fa-user-o"></i><b>Sonamu</b></span>
        <span title="阅读"><i class="fa fa-eye"></i><b>20</b></span>
        <span title="收藏"><i class="fa fa-star-o"></i><b>20</b></span>
        <span title="点赞"><i class="fa fa-thumbs-o-up"></i><b>20</b></span>
        <span title="评论"><i class="fa fa-comments-o"></i><b>20</b></span>
        <span title="发布时间"><i class="fa fa-calendar"></i><b>2017-08-11</b></span>
      </div>
    </li>
    <li>
      <div class="article-lists-header">
        <!-- 原创: original 翻译: translate 转载: reprint 节选: excerpt -->
        <div class="nature small original"><span onselectstart="return false;">原创</span></div>
        <h2><a href="#">11天猫首页在不同移动端（web, app）已经做到只需写同一套代码了吗？</a></h2>
      </div>
      <div class="article_info">
        <span title="作者"><i class="fa fa-user-o"></i><b>Sonamu</b></span>
        <span title="阅读"><i class="fa fa-eye"></i><b>20</b></span>
        <span title="收藏"><i class="fa fa-star-o"></i><b>20</b></span>
        <span title="点赞"><i class="fa fa-thumbs-o-up"></i><b>20</b></span>
        <span title="评论"><i class="fa fa-comments-o"></i><b>20</b></span>
        <span title="发布时间"><i class="fa fa-calendar"></i><b>2017-08-11</b></span>
      </div>
    </li> 
  </ul>

</div>