<div class="scroll_right right-filter">
  <div class="scroll_right_inner">

    <div class="search-box">
      <i class="fa fa-search"></i>
      <input type="text" autocomplete="off" autofocus="autofocus" placeholder="输入关键字搜索文章">
      <span>高级筛选</span>
    </div>

    <div class="bottom-line"></div>

    <p class="box-label">
      <span>排序方式</span>
      <b>重复选择修改升降序</b>
    </p>

    <ul class="box-list box-sort">
      <!--desc-->
      <li class="active"><i class="fa fa-sort-amount-asc"></i>最新</li>
      <li><i class="fa fa-sort-amount-asc"></i>最热</li>
    </ul>

  </div>
</div>