<template v-if="filterData.state === 1">
  <p class="box-label"><span>文章来源</span></p>

  <ul class="box-list">
    <li :class="{active: searchData.nature === 'all'}">全部</li>
    <li :class="{active: searchData.nature === 'original'}">原创</li>
    <li :class="{active: searchData.nature === 'translate'}">翻译</li>
    <li :class="{active: searchData.nature === 'reprint'}">转载</li>
    <li :class="{active: searchData.nature === 'excerpt'}">节选</li>
  </ul>

  <div class="bottom-line"></div>
  <p class="box-label"><span>栏目类别</span></p>
  <ul class="box-list">
    <li class="active">不限</li>
    <li v-for="category in filterData.categories">{{ category.name }}</li>
  </ul>

  <div class="bottom-line"></div>
  <p class="box-label"><span>标签云</span></p>
  <ul class="box-list">
    <li class="active">不限</li>
    <li v-for="tag in filterData.tags">{{ tag.name }}</li>
  </ul>
  
  <div class="bottom-line"></div>
  <div class="button-box" style="margin: 20px 10px 0;" >确定筛选</div>
</template>
<template v-else-if="filterData.state === 0">
  <%- partial('partial/loading') %>
</template>
