<div class="box-folder box">

  <div class="input-box">
    <input type="text" placeholder="搜索分类、标签" autocomplete="off" autofocus="autofocus">
    <i class="fa fa-search"></i>
  </div>

  <div class="bottom-line"></div>

  <span class="search-label"><i class="fa fa-book"></i>&nbsp;&nbsp;一级分类</span>

  <ul class="search-sort">
    <li>啥地方啥地方</li>
    <li class="active">啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li class="add-list"><i class="fa fa-plus"></i></li>
  </ul>

  <span class="search-label"><i class="fa fa-book"></i>&nbsp;&nbsp;一级分类</span>

  <ul class="search-sort">
    <li>啥地方啥地方</li>
    <li class="active">啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li class="add-list"><i class="fa fa-plus"></i></li>
  </ul>

  <div class="bottom-line"></div>

  <span class="search-label"><i class="fa fa-tags"></i>&nbsp;&nbsp;标签列表</span>

   <ul class="search-sort">
    <li>啥地方啥地方</li>
    <li class="active">啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li>啥地方啥地方</li>
    <li class="add-list"><i class="fa fa-plus"></i></li>
  </ul>

  <div class="bottom-line"></div>


  <p class="folder-describe">可以点击选择/取消筛选列表中未选/已选的分类、标签。</p>
</div>