<template v-if="listsData.state === 1">
  <div class="input-box">
    <i class="fa fa-search"></i>
    <input type="text" autocomplete="off" autofocus="autofocus" spellcheck="false" placeholder="输入关键字搜索文章" v-model="searchData.keywords">
    <span @click="rightBoxGo('filter')">高级筛选</span>
  </div>

  <div class="bottom-line"></div>

  <ul class="article-lists" v-if="listsData.articles.length">
    <li v-for="article in listsData.articles">
      <div class="article-header">
        <h1 class="article-title">
          <span class="nature" :class="article.type">{{ article.type | nature }}</span>
          <a :href=" '#' + article.id " @click="getArticleDetailByID(article.id)">{{ article.title }}</a>
        </h1>
      </div>
    </li>
  </ul>
</template>
<template v-else-if="listsData.state === 0">
  <%- partial('partial/loading') %>
</template>
