<div class="input-box">
  <i class="fa fa-search"></i>
  <input type="text" autocomplete="off" autofocus="autofocus" spellcheck="false" placeholder="输入关键字搜索文章" v-model="searchData.keywords">
  <span @click="rightBoxGo('filter')">高级筛选</span>
</div>

<div class="bottom-line"></div>
