<nav>
  <ul>
    <li @click="scrollTop"><i class="fa fa-arrow-up"></i></li>
    <li><i class="fa fa-comments"></i></li>
    <li @click="userinfo ? rightBoxGo('ucenter') : rightBoxGo('login')"><i class="fa fa-user"></i></li>
  </ul>
</nav>