<div class="post-box" :class="{active: post.isShow}">
  
  <template v-if="post.state === 1 && filterData.state === 1">
    <div class="post-box-info">
      <div class="scroll_right_inner">
        <p class="box-label"><span>文章来源</span></p>

        <ul class="box-list">
          <li :class="{active: post.nature === 'original'}" @click="postChangeNature('original')">原创</li>
          <li :class="{active: post.nature === 'translate'}" @click="postChangeNature('translate')">翻译</li>
          <li :class="{active: post.nature === 'reprint'}" @click="postChangeNature('reprint')">转载</li>
          <li :class="{active: post.nature === 'excerpt'}" @click="postChangeNature('excerpt')">节选</li>
        </ul>

        <input type="text" placeholder="原文地址" class="post-link" v-model="post.link" v-if="post.nature != 'original'">

        <div class="bottom-line"></div>
        <p class="box-label"><span>栏目类别</span><b>只能选择一个分类</b></p>
        <ul class="box-list">
          <li :id="category.id"
            v-for="category in filterData.categories" 
            :class="{active: category.id === post.category}"
            @click="postChangeCategory(category.id)">{{ category.name }}</li>
        </ul>
        
        <div class="input-box">
          <input type="text" placeholder="新增分类" v-model="post.addCategory" spellcheck="false" @keyup.13="postAddCategory">
          <a @click="postAddCategory" class="{disabled: post.isAddCategory}">{{post.isAddCategory ? '保存中' : '保存'}}</a>
        </div>

        <div class="bottom-line"></div>
        <p class="box-label"><span>标签云</span><b>重复点击可取消选择</b></p>
        <ul class="box-list">
          <li :id="tag.id"
            v-for="tag in filterData.tags"
            :class="{active: ~post.tags.indexOf(tag.id)}"
            @click="postChangeTags(tag.id)">{{ tag.name }}</li>
        </ul>

        <div class="input-box">
          <input type="text" placeholder="新增标签" spellcheck="false" v-model="post.addTag" @keyup.13="postAddtag">
          <a @click="postAddtag" class="{disabled: post.isAddTag}">{{post.isAddTag ? '保存中' : '保存'}}</a>
        </div>

        <div class="button-box" @click="postAddArticle" :class="{loading: post.isPostArticle}"><i class="fa fa-spinner fa-pulse"></i>发布</div>
        <div class="button-box red" @click="post.isShow=false">取消</div>
      </div>
    </div>

    <div class="post-box-view">
      <article v-html="post.html"></article>
    </div>

    <div class="post-box-edit">
      <input type="text" class="post-box-title" autocomplete="off" placeholder="文章标题(30字以内)" v-model="post.title" spellcheck="false">
      <div class="bottom-line"></div>
      <textarea class="post-box-content" spellcheck="false" v-model="post.markdown" @input="postArticleChange" placeholder="文章内容"></textarea>
    </div>
  </template>
  <template v-else>
    <%- partial('partial/loading') %>
  </template>

</div>