<div class="ucenter-header">
  <img ondragstart="return false;" src="<%= $static.images + $static.avatar %>" :src="'<%= $static.images %>' + userinfo.avatar">
  <div class="user-info">
    <h6>{{userinfo.nickname}}<span>({{ ({reader: '读者', author: '作者', admin: '管理员'})[userinfo.role] }})</span></h6>
    <p>简介：{{userinfo.describe || '这家伙很很懒，什么都没留下。'}}</p>
  </div>
</div>

<div class="ucenter-total">
  <span><b>0</b><i><a>收藏</a></i></span>
  <span><b>0</b><i><a>发布</a></i></span>
  <span><b>0</b><i><a class="text">被赞</a></i></span>
</div>

<!--展示类没有子页面li 添加no-right -->
<ul class="option-lists">
  <li @click="showPost">
    <i class="fa fa-edit"></i>
    <span>发布文章<em>(读者发布文章需要审核)</em></span>
    <i class="fa fa-angle-right"></i>
  </li>
</ul>

<ul class="option-lists">
  <li>
    <i class="fa fa-vcard-o"></i>
    <span>基本资料</span>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <i class="fa fa-envelope-o"></i>
    <span>电子邮箱<em>(aaaa@aaa.com)</em></span>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <i class="fa fa-expeditedssl"></i>
    <span>修改密码</span>
    <i class="fa fa-angle-right"></i>
  </li>
</ul>

<ul class="option-lists">
  <li>
    <i class="fa fa-user-circle-o"></i>
    <span>申请作者</span>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <i class="fa fa-user-circle"></i>
    <span>申请管理</span>
    <i class="fa fa-angle-right"></i>
  </li>
</ul>

<div class="button-box red" style="margin: 20px 10px 0;" @click="logoutFn">退出登录</div>