<div class="scroll_right right-has-title right-user" :class="{active: showBox === 'user'}">
  <div class="scroll_right_inner">

    
    <p class="box-label"><span>修改邮箱</span><b>{{userData.userinfo.email}}</b></p>
    <div class="input-box">
      <i class="fa fa-envelope"></i>
      <input type="text" placeholder="新邮箱" autocomplete="off">
    </div>

    <div class="input-box">
      <i class="fa fa-check-square-o"></i>
      <input type="text" placeholder="验证码 (6位字母,不区分大小写)" autocomplete="off">
      <a>获取</a>
    </div>

    <div class="bottom-line"></div>
    
    <p class="box-label"><span>修改昵称</span><b>{{userData.userinfo.nickname}}</b></p>
    <div class="input-box">
      <i class="fa fa-user"></i>
      <input type="text" placeholder="新昵称 (3-12汉字字母数字下划线)" autocomplete="off">
    </div>
    
    <div class="bottom-line"></div>
    <p class="box-label"><span>修改密码</span></p>
    <div class="input-box">
      <i class="fa fa-lock"></i>
      <input type="password" placeholder="原密码 (6-20位字母数字下划线)" autocomplete="off">
    </div>

    <div class="input-box">
      <i class="fa fa-lock"></i>
      <input type="password" placeholder="新密码 (6-20位字母数字下划线)" autocomplete="off">
    </div>

    <div class="button-box">修改资料</div>
    <div class="button-box red">退出登录</div>

  </div>

  <div class="scroll_title">
    <div class="scroll_title_inner">
      <i class="fa fa-user"></i>
      <span>个人信息</span>
      <i class="fa fa-close" @click="showFilterBox"></i>
    </div>
  </div>
</div>