// 背景色
@bg-base: #303133;
@bg-box: rgba(0, 0, 0, .2);

// 字体色
@ft-color-base: #c9c9c9;

// 文章性质主题颜色
@nature-original: #ecb613; // 原创
@nature-translate: #866cc7; // 翻译
@nature-reprint: #3c7ebb; // 转载
@nature-excerpt: rgba(255, 255, 255, 0.5); // 节选


// 主体配色
@color-main: #6795de;
@color-main-active: #91b2e7;
